# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go build
*.out

# Go workspace
go.work
go.work.sum

# Dependency directories
/vendor/

# Environment files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
